@charset "UTF-8";

*{
  padding: 0px;
  margin: 0px;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: black;
}

a:hover{
  opacity: 0.7;
  font-weight: 800;
  color: #fa3d17;
}

a:active{
  opacity: 0.5;
}

.container{
  width: 1200px;
  margin: 0 auto;
}

#header{
  padding-bottom: 15px;
  padding-top: 15px;
  background-color: #eae7e7;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.flex-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-header img{
  width: 320px;
}

nav{
  display: flex;
  justify-content: center;
  align-items: center;
}

nav li{
  margin-left: 40px;
}

#mainvisual img{
  width: 100%;
  height: 800px;
  object-fit: cover;
  margin-bottom: 120px;
}

#about .section-title{
  margin-left: 50px;
  margin-bottom: 20px;
  font-size: x-large;
}

.section-title .ja{
  color: #f78c2f;
  margin-top: 10px;
}

.flex-about{
  margin-bottom: 60px;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-image: url(Baudroie/visual.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  aspect-ratio: 16 / 5;
  width: 100%;
}

.left-about{
  width: 49%;
  margin-left: 3%;
}

.left-about h1{
  margin-bottom: 40px;
}

.left-about p{
  margin-bottom: 30px;
}

.right-about{
  width: 45%;
  margin-left: 3%;
}

.right-about img{
  width: 600px;
}

.more{
  width: 200px;
  padding-left: 20px;
  padding-right: 40px;
  padding-bottom: 10px;
  border-bottom: 3px solid #1e1e1e;
  font-weight: 700;
}

.more::after{
  content: "ï¼ž";
  padding: 3px;
  background-color: black;
  border-radius: 50%;
  color: #f78c2f;
  margin-left: 60px;
}

#service{
  padding-bottom: 80px;
  margin-bottom: 100px;
  border-bottom: 2px dotted #646363;
}

#service .section-title{
  margin-bottom: 40px;
  font-size: x-large;
}

.sub{
  font-size: 60px;
  font-weight: 900;
  margin-bottom: 20px;
}

#service p{
  padding-bottom: 80px;
}

.flex-service{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.item{
  width: 33%;
  margin-right: 0.5%;
  
}

.item  img{
  width: 360px;
}

.item:last-child{
  margin-right: 0%;
}

#info{
  margin-bottom: 120px;
}



#footer{
  text-align: center;
  padding: 10px;
  background-color: #eae7e7;
  font-weight: 300;
  font-size: x-small;
}