@charset "UTF-8";

*{
  padding: 0px;
  margin: 0px;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: black;
}

a:hover{
  opacity: 0.7;
  font-weight: 800;
  color: #fa3d17;
}

a:active{
  opacity: 0.5;
}