@charset "UTF-8";

*{
  padding: 0px;
  margin: 0px;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: black;
}

a:hover{
  opacity: 0.7;
  font-weight: 800;
  color: #fa3d17;
}

a:active{
  opacity: 0.5;
}

.container{
  width: 1200px;
  margin: 0 auto;
}

#header{
  padding-bottom: 15px;
  padding-top: 15px;
  background-color: #eae7e7;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.flex-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-header img{
  width: 320px;
}

nav{
  display: flex;
  justify-content: center;
  align-items: center;
}

nav li{
  margin-left: 40px;
}

#mainvisual img{
  width: 100%;
  height: 800px;
  object-fit: cover;
  margin-bottom: 60px;
}

#footer{
  text-align: center;
  padding: 10px;
  background-color: #eae7e7;
  font-weight: 300;
  font-size: x-small;
}